<?xml version='1.0' encoding='utf-8'?>

<Server>

    <Service name="Catalina">


        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="20000"
                   redirectPort="8443"/>

        <Engine name="Catalina" defaultHost="localhost">

            <Host name="localhost"  appBase="webapps" autoDeploy="true">
            </Host>
        </Engine>

    </Service>
</Server>
